<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div id="chores"></div>

    <script type="text/javascript">
      var choresJSON = <%- JSON.stringify(chores) %>;
    </script>
    <script src="/components/requirejs/require.js" data-main="/javascripts/app"></script>
  </body>
</html>
